**University System**
1. Base class: Person (private attributes: __name, __age).
2. Subclasses: Student (private: __grades), Professor (private: __salary).
3. Encapsulate all attributes with getters/setters.
4. Add overridden methods: introduce() for each type of person.

In [1]:
class Person:
    def __init__(self,name=None,age=None):
        self.__name=name
        self.__age=age

    def set_name(self,name:str)->None:
        self.__name=name
    def set_age(self,age:int)->None:
        if 0<age<90:
            self.__age=age
        else:
            print("Invalid age")

    def get_name(self):
        return self.__name
    def get_age(self):
        return self.__age

    def introduce(self):
        return "Name:{},Age:{}".format(self.__name,self.__age)

class Student(Person):
    def __init__(self,name=None,age=None,grade=None):
        super().__init__(name,age)
        self.__grade=grade

    def set_grades(self,grade:int)->None:
        if 0<=grade<=100:
            self.__grade=grade
    def get_grades(self):
        return self.__grade

    def introduce(self):
        return super().introduce() + f"Grade:{self.__grade}"

class Professor(Person):
    def __init__(self,name=None,age=None,salary=None):
        super().__init__(name,age)
        self.__salary=salary

    def set_salary(self,salary:str)->None:
        self.__salary=salary
    def get_salary(self):
        return self.__salary

    def introduce(self):
        return super().introduce() + f", Salary:{self.__salary}"

In [2]:
std1=Student()

In [3]:
std1.set_name("Arya")
std1.set_age(21)
std1.set_grades(90)

In [4]:
print(std1.get_name())
print(std1.get_age())
print(std1.get_grades())

Arya
21
90

In [5]:
prf1=Professor()

In [6]:
prf1.set_name("Andrew")
prf1.set_age(51)
prf1.set_salary("90k")

In [7]:
print(prf1.get_name())
print(prf1.get_age())
print(prf1.get_salary())

Andrew
51
90k

In [8]:
std1.introduce()

'Name:Arya,Age:21Grade:90'

In [9]:
prf1.introduce()

'Name:Andrew,Age:51, Salary:90k'